.about-control-input {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("img/search.png");
  background-size: 26px;
  border: none;
  padding: 0;
  text-indent: 6px;
  font-size: 13px;
  line-height: normal;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-position: right center;
  cursor: pointer;
  box-sizing: border-box;
}

.about-control {
  width: 26px;
  height: 26px;
  -webkit-transition: width .175s ease-in;
  -moz-transition: width .175s ease-in;
  -ms-transition: width .175s ease-in;
  -o-transition: width .175s ease-in;
  transition: width .175s ease-in;
}

.about-control-expanded,
.leaflet-touch .about-control-expanded {
  width: 500px;
}

.about-control-input.about-control-loading {
  background-image: url("img/loading.gif");
  background-size: 26px;
}

@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
  .about-control-input {
    background-image: url("img/search@2x.png");
  }
  .about-control-input.about-control-loading {
    background-image: url("img/loading@2x.gif");
  }
}

.about-control-input:focus {
  outline: none;
  cursor: text;
}

.about-control-input::-ms-clear {
    display: none;
}

.about-control-list + .about-control-header {
  border-top: 1px solid #d5d5d5;
}

.about-control-header {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #444;
  background: #F2F2F2;
  border-bottom: 1px solid #d5d5d5;
  display: block;
  padding: .5em;
}

.about-control-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.leaflet-right .about-control-input {
  left: auto;
  right: 0;
}

/* styles when on a touch device */

.leaflet-touch .about-control {
  width: 30px;
  height: 30px;
}

.leaflet-touch .about-control.about-control-expanded {
  width: 275px;
}

.leaflet-touch .about-control-input {
  height: 30px;
  line-height: 30px;
  background-size: 30px;
}

/* styles when browser is old and busted */

.leaflet-oldie .about-control-input {
  width: 28px;
  height: 28px;
}

.leaflet-oldie .about-control-expanded .about-control-input {
  width: auto;
}

.leaflet-oldie .about-control-input {
  border: 1px solid #999;
}
