/*
things to add:
make transition vertical?
make a good question mark icon
cleanup/simplify messy CSS
*/

.leaflet-about {
    position: absolute;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    min-width: 100%;
    right: -1750px;
    transition: right 0.5s, width 0.5s;
    padding-left: 50px;
    padding-right:50px;
    z-index: 2000;
}

.leaflet-about.visible {
    right: 0;
}

.leaflet-about-button {
  position: absolute;
  left: 0;
  top: 60px;
  background-color: white;
  background-repeat: no-repeat;
  background-image: url("img/search.png");
  background-size: 26px;
  border: none;
  padding: 0;
  text-indent: 6px;
  font-size: 13px;
  line-height: normal;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  background-position: right center;
  cursor: pointer;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  z-index: 8;
}

.leaflet-about > .leaflet-control {
    height: 100%;
    width: 100%;

    overflow: auto;
    -webkit-overflow-scrolling: touch;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px 24px;

    font-size: 1.1em;

    background: white;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.leaflet-touch .leaflet-about > .leaflet-control {
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
}

.leaflet-about .close {
    position: absolute;
    right: 60px;
    top: 30px;
    width: 31px;
    height: 31px;

    color: #333;
    font-size: 25pt;
    line-height: 1em;
    text-align: center;
    background: white;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    cursor: pointer;

    z-index: 8;
}


@media(max-width:767px){
    .leaflet-about {
        width: 100%;
        padding: 0;
    }

    .leaflet-about.visible {
        right: 0;
    }

    .leaflet-about > .leaflet-control {
        box-shadow: none;
        -webkit-border-radius: 0;
        border-radius: 0;
    }

    .leaflet-touch .leaflet-about > .leaflet-control {
        border: 0;
    }

    .leaflet-about > .close {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}
